ul, ol {
  list-style-type: none;
}

.main {
  position: relative;
  width: 62%;
  height: 100vh;
  padding: 10px;
}
.main__block {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 88.3%; z-index: 2;
  background-color: #121212;
  border-radius: 10px;
  overflow-y: scroll;
}
.main__block::-webkit-scrollbar {
  width: 14px;
}
.main__block::-webkit-scrollbar-thumb {
  background-color: rgba($color: #313131, $alpha: 1);
}

.gradient {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 80%;
  border-top-left-radius: 10px;
  border-top-right-radius: 0px;
  //background: linear-gradient(to bottom, #FF39A4 0%, #ff49aa 0%, transparent 100%);
  background: rgb(36,36,185);
  background: linear-gradient(180deg, rgb(68, 189, 78) 0%, rgba(68, 189, 78, 0.631) 42%, transparent);
  pointer-events: none;
}
.gradient2 {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 80%;
  border-top-left-radius: 10px;
  border-top-right-radius: 0px;
  //background: linear-gradient(to bottom, #FF39A4 0%, #ff49aa 0%, transparent 100%);
  //background: rgb(36,36,185);
  background: linear-gradient(180deg, rgb(70, 70, 70) 0%, rgba(68, 68, 68, 0.631), transparent);
}

//* MAIN NAV
.main__nav {
  position: fixed;
  width: 59%;
  height: 70px;
  //background-color: #121212;
  z-index: 3;
  padding: 0 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__bg {
  position: relative;
  width: 100%;
  height: 400px;
  //background-color: #fff;
}
.bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.verify__nav {
  //position: fixed;
  width: 100%;
  height: 70px;
  //background-color: #812929;
  z-index: 3;
  padding: 0 25px;
  display: flex;  
  align-items: center;
  justify-content: space-between;
}
.verify__content {
  width: 100%;
  height: auto;
  margin-top: 140px;
  padding: 0 25px;
  //background-color: #fff;
}
.verify__content h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 86px;
  //margin-left: 10px;
  margin-bottom: 10px;
  color: #fff;
  user-select: none;
}
.verify__content h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  margin-left: 5px;
  color: #fff;
  user-select: none;
}
.galochka {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.galochka img {
  width: 28px;
  height: 28px;
}
.galochka h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin-left: 10px;
  color: #fff;
  user-select: none;
}
.icons__wrapper {
  width: 9%;
  //background-color: #6d4c4c;
  height: auto;
  display: flex;
  justify-content: space-between;
}
.round__icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  cursor: pointer;
  background-color: #222222;
  opacity: 0.6;
}
.round__icon img {
  width: 45%;
}
.round__icon:hover {
  transition: 0.3s;
  opacity: 1;
  background-color: #1f1f1f;
}
.round__icon1 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  cursor: pointer;
  background-color: #222222;
  opacity: 0.6;
}
.round__icon1 img {
  width: 45%;
  rotate: 180deg;
}
.round__icon1:hover {
  transition: 0.3s;
  opacity: 1;
  background-color: #1f1f1f;
}

.account__block {
  position: relative;
  z-index: 3;
  width: auto;
  height: auto;
  background-color: rgba(0, 0, 0, 0.80);
  border-radius: 25px;
  margin-right: 30px;
  display: flex;
  align-items: center;
  //margin-right: 30px;
}
.acc__ava {
  margin: 3px;
  width: 34px;
  height: 34px;
  margin-right: 10px;
  border-radius: 50%;
}
.account__block h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  margin-right: 10px;
  color: #fff;
  cursor: pointer;
  user-select: none;
}
.acc__arrow {
  margin-right: 10px;
  transition: 0.3s;
}

//* HEADER 
.main__title {
  position: relative;
  z-index: 2;
  margin-top: 100px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 34px;
  margin-right: 10px;
  margin-left: 28px;
  color: #fff;
  user-select: none;
}
.playlists__wrapper {
  position: relative;
  z-index: 2;
  margin-top: 25px;
  margin-bottom: 90px;
  width: 100%;
  height: auto;
  //background-color: #fff;
  padding: 0 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.playlist__item {
  position: relative;
  width: 48.5%;
  height: 85px;
  border-radius: 5px;
  margin: 10px 0;
  background-color: rgba(228, 228, 228, 0.2);
  //backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
  user-select: none;
}
.playlist__item:hover {
  transition: 0.3s;
  background-color: rgba(228, 228, 228, 0.4);
}
.playlist__item img {
  width: 85px;
  height: 85px;
  border-radius: 5px;
  object-fit: cover;
}
.playlist__item h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 19px;
  margin-left: 20px;
  color: #fff;
}

.list {
  position: relative;
  z-index: 2;
  width: 100%;
  height: auto;
  //margin-top: 40px;
  margin-bottom: 40px;
  padding: 0 30px;
}
.list h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #fff;
  margin-bottom: 30px;
  user-select: none;
}


.slider {
  position: relative !important;
  width: 100% !important;
  height: auto;
  display: flex;
  align-items: center;
  padding-right: 20px !important;
  justify-content: space-between;
}
.slider li {
  width: 190px !important;
  margin-right: 27px;
}
.one__slide {
  position: relative;
  width: 195px !important;
  height: 280px;
  border-radius: 5px;
  padding: 18px;
  margin-right: 20px !important;
  background-color: rgba(228, 228, 228, 0.1);
  transition: 0.3s;
  user-select: none;
  cursor: pointer;
}
.one__slide:hover {
  transition: 0.3s;
  background-color: rgba(228, 228, 228, 0.2);
}
.one__slide img {
  width: 100%;
  border-radius: 5px;
  user-select: none;
  pointer-events: none;
}
.one__slide h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
  margin-top: 15px;
  color: #fff;
}
.one__slide h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 13px;
  margin-top: 10px;
  color: #979797;
}


.sort__drop {
  position: relative;
  width: 38%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.sort__drop h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 13px;
  margin-bottom: 3px;
  color: #fff;
  cursor: pointer;
  user-select: none;
}
.sort__drop img {
  margin-bottom: 2px;
  transition: 0.3s;
}
.active__img {
  margin-bottom: -10px;
  rotate: 180deg;
  transition: 0.3s;
  margin-right: 10px;
}
.sort__block {
  position: absolute;
  z-index: 3;
  top: 72px;
  right: 55px;
  border-radius: 5px;
  padding: 10px 5px;
  opacity: 0;
  transition: 0.3s;
  width: 20%;
  height: auto;
  //height: 500px;
  background-color: #313131;
  pointer-events: none;
}
.sort__block.active {
  opacity: 1;
  transition: 0.3s;
  pointer-events: all;
}
.sort__block h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 20px;
  margin: 15px;
  color: #d1d1d1;
  cursor: pointer;
  user-select: none;
}
.sort__item {
  width: 100%;
  height: 45px;
  border-radius: 5px;
  //background-color: #5f4d4d;
  display: flex;
  align-items: center;
  padding-left: 15px;
  transition: 0.3s;
  cursor: pointer;
}
.sort__item:hover {
  background-color: #272727;
  transition: 0.2s;
}
.sort__item h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  //margin-bottom: 25px;
  color: #ffffff;
  cursor: pointer;
  user-select: none;
}



//* Profile block 
.profile__block {
  position: relative;
  z-index: 2;
  width: 100%;
  height: auto;
  margin-top: 90px;
  padding: 20px;
  display: flex;
  align-items: center;
}
.profile__ava {
  width: 240px;
  height: 240px;
  filter: drop-shadow(5px 10px 40px black);
  cursor: pointer;
}
.profile__ava img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile__names {
  width: 60%;
  height: auto;
  margin-left: 60px;
}
.profile__names h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 35px;
  color: #ffffff;
  user-select: none;
}
.profile__names h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 45px;
  margin-bottom: 35px;
  color: #ffffff;
  user-select: none;
  cursor: pointer;
}
.profile__names h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
  user-select: none;
}


//* modal 
.modal__wrapper {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.3s;
  pointer-events: none;
}
.modal__active {
  opacity: 1;
  transition: 0.3s;
  pointer-events: all;
}
.modal {
  position: relative;
  width: 34%;
  height: 40%;
  padding: 25px;
  background-color: #2e2e2e;
  border-radius: 15px;
}
.modal h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  user-select: none;
}

.close__img {
  position: absolute;
  right: 25px;
  top: 30px;
  cursor: pointer;
}

.modal__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.modal__ava {
  width: 200px;
  height: 200px;
  //background-color: #fff;
  filter: drop-shadow(5px 10px 20px rgb(20, 20, 20));
}
.modal__ava img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.modal__inputs {
  position: relative;
  width: 58%;
  height: 200px;
  //background-color: #835151;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.modal__inputs input {
  width: 100%;
  height: 50px;
  background-color: #414141;
  //border: 1px solid rgb(39, 39, 39);
  border: none;
  border-radius: 10px;
  padding: 20px;
  outline: none;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
}
.modal__inputs button {
  width: 55%;
  height: 45px;
  background-color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}



//* verify 
.btns {
  margin-left: 30px;
  margin-top: 30px;
  width: 35%;
  height: 70px;
  //background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btns button {
  width: 48%;
  height: 75%;
  background-color: transparent;
  outline: none;
  border: 2px solid #555555;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #c9c9c9;
  cursor: pointer;
  transition: 0.3s;
}
.btns button:hover {
  background-color: #535353;
  transition: 0.3s;
}
.song__inputs {
  width: 100%;
  height: auto;
  //border: 1px solid #fff;
}
.edit__song {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.edit__poster {
  width: 75px;
  height: 75px;
}
.edit__poster img{
  width: 100%;
  height: 100%;

}
.edit__song_titles {
  margin-left: 15px;
}
.edit__song_titles h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 4px;
}
.edit__song_titles h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
}
.inputs__wrapper {
  width: 100%;
  height: auto;
  //border: 1px solid #fff;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.two__inputs {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.two__inputs input {
  width: 48%;
  height: 50px;
  background-color: #414141;
  border: 1px solid rgb(34, 34, 34);
  //border: none;
  border-radius: 5px;
  padding: 20px;
  outline: none;
  //margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
}
.inputs__wrapper button {
  width: 40%;
  height: 50px;
  background-color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}


.songs__list {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 140px;
  //background-color: #696969;
  padding: 0 30px;
}
.songs__item {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  margin-bottom: 20px;
  cursor: pointer;
}
.num__title {
  width: 5%;
  height: 45px;
  display: flex;
  align-items: center;
}
.songs__list h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
}
.name__title {
  width: 35%;
  height: 40px;
  display: flex;
  align-items: center;
}
.name__title img {
  width: 45px;
  height: 45px;
  margin-right: 20px;
}
.album__title {
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
}
.date__title {
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
}
.time__icon {
  width: 10%;
  height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.time__icon img {
  width: 25px;
  //margin-left: 15px;
}

hr {
  width: 100%;
  margin: 5px 0 30px;
}



//* Account modal
//* Account modal
.sort__drop {
  position: relative;
  width: 38%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.sort__drop h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 13px;
  margin-bottom: 3px;
  color: #fff;
  cursor: pointer;
  user-select: none;
}
.sort__drop img {
  margin-bottom: 2px;
  transition: 0.3s;
}
.active__img {
  margin-bottom: -10px;
  rotate: 180deg;
  transition: 0.3s;
  margin-right: 10px;
}
.song__block {
  position: absolute;
  z-index: 3;
  top: 42px;
  right: 55px;
  border-radius: 5px;
  padding: 10px 5px;
  opacity: 0;
  transition: 0.3s;
  width: 20%;
  //height: 255px;
  //height: 500px;
  background-color: #313131;
  pointer-events: none;
}
.height {
  height: 255px;
  overflow-y: scroll;
}
.song__block::-webkit-scrollbar {
  width: 14px;
}
.song__block::-webkit-scrollbar-thumb {
  background-color: rgba($color: #4d4d4d, $alpha: 1);
}
.song__block.active__song {
  opacity: 1;
  transition: 0.3s;
  pointer-events: all;
}
.song__block h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 20px;
  margin: 15px;
  color: #d1d1d1;
  cursor: pointer;
  user-select: none;
}
.sort__item {
  width: 100%;
  height: 55px;
  border-radius: 5px;
  //background-color: #5f4d4d;
  display: flex;
  align-items: center;
  padding-left: 15px;
  transition: 0.3s;
  cursor: pointer;
}
.height .sort__item {
  height: 65px;
}
.sort__item:hover {
  background-color: #272727;
  transition: 0.2s;
}
.sort__item h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  //margin-bottom: 25px;
  color: #ffffff;
  cursor: pointer;
  user-select: none;
}


.add__modal {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background-color: #fff;
}